node_modules/
desktop.ini
.DS_Store
.vscode
*.binary
*.docx
*.dot
*.gdoc
*.gform
*.gsheet
*.h5
*.lnk
*.log
*.npy
*.pickle
*.pb
*.pdf
*.pyc
*.tar.gz
*.tmp
*.txt
*.w2v
*.wav
*.xlsx
*.zip
~*.*
trie

# Jupyter
.ipynb_checkpoints

# TensorBoard
events.out*

old/
05_Deploy/web/handler_venv
